<div class="page-header">
  <%= link_to ubicacions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_ubicacion_path(@ubicacion), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h4>Ver ubicacion</h4>
</div>

<dl class="dl-horizontal">
  <dt>Latitud:</dt>
  <dd><%= @ubicacion.latitud %></dd>

  <dt>Longitud:</dt>
  <dd><%= @ubicacion.longitud %></dd>

</dl>
