<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo User</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to users_path do %>
        <%= fa_icon "user", text: "Users" %>
    <% end %>
  </li>
  <li class="active">
    Nuevo User
  </li>
</ol>

<%= render 'form' %>