<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <%% end %>
  <%%= link_to @<%= singular_table_name %>, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <%% end %>
  <h4>Editando <%= singular_table_name %></h4>
</div>

<%%= render 'form' %>
