<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <%% end %>
  <h4>Nuevo <%= singular_table_name %></h4>
</div>

<%%= render 'form' %>
