<div class="page-header">
  <%= link_to roles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_role_path(@role), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h4>Ver role</h4>
</div>

<dl class="dl-horizontal">
  <dt>Descripcion:</dt>
  <dd><%= @role.descripcion %></dd>

</dl>
