<div class="page-header">
  <%= link_to reclamos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Mis reclamos
  <% end %>
  <%= link_to @reclamo, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver Reclamo
  <% end %>
  <h4>Editando reclamo</h4>
</div>

<%= render 'form' %>
