<div class="page-header">
  <%= link_to new_reclamo_path, class: 'btn btn-sm btn-primary' do %>
    <%= fa_icon "plus", text: "Nuevo Reclamo" %>
  <% end %>
  <h4>Mis reclamos</h4>
</div>

<% if !@reclamos.empty? %>

  <table class="display responsive no-wrap" id="reclamos-table" data-source="<%= reclamos_path(format: :json) %>">
    <thead>
      <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Tipo de Reclamo</th>
          <th class="text-center col-md-2">&nbsp;</th>
      </tr>
    </thead>

    <tbody>      
    </tbody>
  </table>

<% else%>
<div class="alert fade in alert-info alert-dismissable"><button class="close" data-dismiss="alert" aria-hidden="true" type="button">&times;</button>Todavía no creaste ningún <b>Reclamo</b>. Haz click en el botón <b>Nuevo Reclamo</b> para crear uno.</div>
<% end%>

<script type="text/javascript">
$('#reclamos-table').dataTable({
    responsive: true,
    language: { "sUrl": "<%= asset_path('language.es.json') %>"},
    processing: true,
    serverSide: true,
    ajax: $('#reclamos-table').data('source'),
    pagingType: 'full_numbers',
    columns: [
        {data: 'titulo' },
        {data: 'descripcion' },
        {data: 'fecha' },
        {data: 'nombre' },
        {data: 'dt_actions' }
      ],
     columnDefs: [
            {
                "targets": [ 4 ],
                "searchable": false,
                "orderable": false
            }
        ]
});
</script>