<div class="page-header">
  <%= link_to reclamos_path, class: 'btn btn-sm btn-default' do %>
    <%= fa_icon "list-alt", text: "Mis reclamos" %>
  <% end %>
  <h4>Nuevo reclamo</h4>
</div>

<%= render 'form' %>
