<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'pdf', media: 'all' %>
</head>
<body>
  <div id="header">
	<div class="page-header">      	
		<h4><%= wicked_pdf_image_tag 'logot_chico.png' %> Ciudad Activa</h4>
	</div>
  </div>
  <div style="min-height:600px;" class="container">
    <%= yield %>
  </div>
</body>
</html>