<div class="page-header">
  <%= link_to tipo_reclamos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo tipo_reclamo</h4>
</div>

<%= render 'form' %>
