
<div class="page-header">
  <h4>Listado de  Tipos de Reclamos</h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tipo_reclamos) do |tipo_reclamo| %>
        <td><%= tipo_reclamo.nombre %></td>
      <% end %>
    </tbody>
  </table>
</div>
